@font-face{
    font-family: roboto-bold;
    url: '../../fonts/Roboto-Bold.ttf';
}
@font-face{
    font-family: roboto-regular;
    url: '../../fonts/Roboto-Regular.ttf';
}
@font-face{
    font-family: roboto-cond;
    url: '../../fonts/RobotoCondensed-Bold.ttf';
}
/*------Action person-------*/

button.btnAddNew {background: #1d8a58;border-radius: 0px;border: 0px;}
button.btnAddNew:hover {
    background: #2a9e69;
}
button.btnDelete {
    border-radius: 0px;
    border: 0px;
}
/*------Action person-------*/
ul.action_person li span {
    padding: 5px;
    border-radius: 50%;
    color: #fff;
    font-size: 11px;
}

span.fa.fa-list {
    background: #5bc0de;
}

span.fa.fa-eye {
    background: #5cb85c;
}

span.fa.fa-pencil-square-o {
    background: #337ab7;
}

span.fa.fa-trash-o {
    background: #d9534f;
}
/*--------Products-----*/
table#datatable-buttons {
    width: 100% !important;
}
/*------Action person-------*/


button.btnAddNew {background: #1d8a58;border-radius: 0px;border: 0px;}
button.btnAddNew:hover {
    background: #2a9e69;
}
button.btnDelete {
    border-radius: 0px;
    border: 0px;
}
/*------Action person-------*/
ul.action_person li span {
    padding: 5px;
    border-radius: 50%;
    color: #fff;
    font-size: 11px;
}

span.fa.fa-list {
    background: #5bc0de;
}

span.fa.fa-eye {
    background: #5cb85c;
}

span.fa.fa-pencil-square-o {
    background: #337ab7;
}

span.fa.fa-trash-o {
    background: #d9534f;
}
/*--------Products-----*/
table#datatable-buttons {
    width: 100% !important;
}
/*------Action person-------*/

.box_upload{
    padding:5px 10px;
    background:#00ad2d;
    border:1px solid #00ad2d;
    position:relative;
    color:#fff;
    border-radius:2px;
    text-align:center;
    float:left;
    cursor:pointer
}
.box_upload .hide_file {
    position: absolute;
    z-index: 1000;
    opacity: 0;
    cursor: pointer;
    right: 0;
    top: 0;
    height: 100%;
    font-size: 24px;
    width: 100%;

}
.box_show_img {
    border: 2px dashed;
    min-width: 200px;
    min-height: 200px;
    margin-bottom: 10px;
    position: relative;
}
.box_show_img i{
    position: absolute;
    left: 50%;
    margin-top: -17px;
    top: 50%;
    margin-left: -10px;
    font-size: 30px;
}
.box_show_img img{
    width: 100%;
    position: relative;
    z-index: 10;
}
textarea{
    resize: none;
}